{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container"style="text-align:center;background-color:#accacc;>

      <div class="col-md-8">
        {%for pitch in pitchesC1%}
        <li style="height:300px;"><h4>Pitch {{pitch.id}}</h4>
          <p>{{pitch.name}}</p>
          Posted on
          <p>{{pitch.posted}}</p>
          <p>By User {{pitch.user_id}}</p>
        </li>
        {%endfor%}

        <h3>Pitch Comments</h3>
        {%for comment in comments%}<p>{{comment.id}}.{{comment.name}}</p><strong></strong>{%endfor%}
      </div>

        <div class="col-md-4">
           {{ wtf.quick_form(comment_form) }}
           {{simplemde.load}}
       </div>

    </div>

    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-8">
          {{format_comment|safe}}
        </div>
      </div>
      <footer style='background-color:black;color:white;text-align:center;margin-top:300px'>
        <span style='margin:10px;''><p>Copyright(c)2019</p> <h5>Juru-10</h5></span>
      </footer>
    </div>

{% endblock %}
