{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">

        <div class="col-md-8">

        </div>

        <div class="col-md-4">
           {{ wtf.quick_form(vote_form) }}
           {{simplemde.load}}
       </div>

    </div>

{% endblock %}

{% block content%}
<div class="container-fluid"style="text-align:center;background-color:#accacc;>

  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-8">
      {{format_vote|safe}}
    </div>
  </div>
  <footer style='background-color:black;color:white;text-align:center;margin-top:300px'>
    <span style='margin:10px;''><p>Copyright(c)2019</p> <h5>Juru-10</h5></span>
  </footer>
</div>
{%endblock%}
