{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">

      <div class="pitch_form">
        <h1>Rough Cut Projects</h1>
        {{ wtf.quick_form(pitch_form) }}
        {{simplemde.load}}
      </div>
      <div class="Cpitch_form">
        <h1>Central pitches</h1>
        {{ wtf.quick_form(Cpitch_form) }}
        {{simplemde.load}}
      </div>
      <div class="Rpitch_form">
        <h1>Round Table pitches</h1>
        {{ wtf.quick_form(Rpitch_form) }}
        {{simplemde.load}}
      </div>
    </div>

    <!-- <div class="container-fluid">

      <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-8">
          {{format_pitch|safe}}
        </div>
      </div>
    </div> -->

{% endblock %}
