{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container"style="text-align:center;background-color:#accacc;>
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">

{{wtf.quick_form(registration_form)}}

</div>
<div class="col-md-2"></div>
</div>

</div>
<footer style='background-color:black;color:white;text-align:center;margin-top:300px'>
  <span style='margin:10px;'><p>Copyright(c)2019</p> <h5>Juru-10</h5></span>
</footer>
{% endblock%}
