{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

<!-- {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %} -->

<!-- Content block -->
{% block content %}
<body style="background-image:url('https://media.istockphoto.com/vectors/water-bubbles-vector-illustration-abstract-bubbles-white-transparent-vector-id947316044?k=6&m=947316044&s=612x612&w=0&h=VHzgeLJ_QTHO4_6g_W5eLnsBzwr7wSm3oEOaLhYOYKA=');background-size: cover">
  
  <div class="container" style="text-align:center;background-color:white;">
    <div class="panel panel-heading" style="height">
      <h1 style="text-align:center;margin-bottom:80px; color:black">Ubudehe Info Provider</h1>
    </div>
    <div class="well">
      <h2><strong>Ubudehe</strong></h2>
      <p>Ubudehe refers to the long-standing Rwandan practice and culture of
        collective action and mutual support to solve problems within a community,
        according to a recent academic research paper.
      </p>
      <img src="../static/photos/2vfn81.gif" width="100%" height="400px">
      <h3><strong>Why</strong>?</h3>
      <p>Information is the major thing in everybody's personal life.
        Ubudehe helps Rwandan citizen to access things basing on thier living style,
        in every aspect of life.
        It also helps people from knowing that they have equal rights where someone
        can not be in charge of something above
        his/her acapabilities.</p>
    </div> 
    <div class="well">
      <h3><strong>When</strong> and <strong>where</strong>?</h3>
      <p> Ubudehe was launched into Rwandan life it was as way to better involve
        communities in their development by setting up participatory problem solving
        mechanisms. The program was seen as a way to strengthen democratic processes
        and good governance through greater community involvement in decision
        making. Ubudehe creates opportunities for people at all levels of society,
        especially the village level, to interact with one another, share ideas,
        create institutions and make decisions for their collective development.</p>
    </div>
    <div class="well">
      <p>This government statment has been a way of facilitating everybody according to 
        his/her right and the limitation of his capabilities.
        Yes.It is way of poverty reduction where the government support people
        with lower living founds by offering and giving them what they need (<strong>eg:</strong> Gira inka
        Munyarwanda) according to their ubudehe categories.
        Others, are able to access other government founds like asking for loan or
        gain a scholarship for thier studies.
      </p>
    </div> 
  </div>
  <footer style='background-color:black;color:white;text-align:center;margin-bottom: -80px'>
    <span style='margin:10px;'><p>Copyright(c)2019</p> <h5>Rwanda</h5></span>
  </footer>
  {% endblock%}
</body>