{% macro displayNewsList(news_list) %}
  {% for news in news_list %}
    <div class="">
        <li class="text-center">
            <a href="/news/{{news.id}}">{{ news.name}}</a>
        </li>
    </div>
  {% endfor %}
{% endmacro %}

{% macro displayArtiList(arti_results_list) %}
  {% for arti in arti_results_list %}
    <div class="row">
      <div class="col-md-6">
        <img src="{{ arti.urlToImage }}" alt="{{ arti.title }}" class="img-responsive">
      </div>

      <div class="col-md-6">
        <h3><a href="{{arti.url}}">{{ arti.title}}</a></h3>
        <p class="ratings"> <b>{{ arti.description }}</b> - <i>{{ arti.publishedAt}}</i> - </p>
      </div>
    </div>
  {% endfor %}
{% endmacro %}

{% macro displayDescrList(article) %}
  <!-- {% for arti in arti %} -->
    <div class="row">
      <img src="{{ arti.urlToImage }}" alt="{{ arti.title }} poster" class="img-responsive"

      <div class="news-details">
        <h3>{{ arti.title}}</h3>
        <p class="ratings"> <b>{{ arti.description }}</b> - <i>{{ arti.publishedAt}}</i> - </p>
        <p>{{ arti.author}}</p>
      </div>
    </div>
  <!-- {% endfor %} -->
{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}

    {% for review in review_list %}

    <div class="row">

      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
        <h4>Author</h4>
        <p>{{review.user.username}}</p>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <h2> <a href="{{url_for('main.single_review',id=review.id)}}">{{review.movie_title}}</a> </h2>
      </div>
    </div>

    {% endfor %}
{% endmacro %}
